* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "Montserrat", sans-serif; */
    /* overflow: hidden; */
  }

  /* Selection Color Custimize */
  ::selection {
    background: #94bc53;
  }

  /* Top Banner Section Starts Here */
  .top-banner{
    overflow: hidden;
    position: relative;
  }
  .top-banner img{
    width: 100%;
  }
  .top-banner .top-banner-content{
    position: absolute;
    width: 90%;
    top: 37%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-banner .top-banner-content h1{
    color: #fff;
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .top-banner .top-banner-content p{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 1rem;
  }
  .top-banner .top-banner-content button{
   background-color: transparent;
   border: 2px solid #fff;
   outline: none;
   color: #fff;
   margin-top: 2rem;
   padding: 1rem 2rem;
   border-radius: 35px;
   font-weight: 500;
   font-size: 1.1rem;
   transition: all 0.2s ease;
  }
  .top-banner .top-banner-content button:hover{
   background-color: #80a93d;
  }
  .top-banner .top-banner-content a{
   text-decoration: none;
  }
  /* Top Banner Section Ends Here */


  /* Nav Styles Starts Here */
nav {
    padding: 12px 0 !important;
    font-family: "Montserrat", sans-serif !important;
    background-color: #79a433;
}
nav .nav-link {
    font-weight: 500;
}
nav .dropdown-item {
    color: #fff;
    font-weight: 400;
}
nav .nav-item a {
    color: #fff;
    font-weight: 500;
}
nav .nav-item a:hover{
    color: #fff;
}
nav #nav-item-2 {
    margin-right: 2rem;
    /* border-left: 1px solid #fff; */
}
nav .nav-item .icon-row i {
    color: #fff;
    margin-right: 0.2rem;
    background-color: #ffffff34;
    padding: 10px;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}
nav .nav-item .icon-row i:hover {
    background-color: #ffffff1f;
}
nav .navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}
nav .navbar-brand:hover {
    color: #fff;
}
nav .nav-item:hover,
nav .nav-item:focus {
    color: #fff;
}

.navbar-toggler {
    margin-left: auto;
}
/* Nav Styles Ends Here */


/* Header Section Starts Here */
header{
    padding: 2rem 0;
    background-color: #000;
    overflow: hidden;
    /* position: sticky;
    top: 0; */
}

header .header{
    display: flex;
    justify-content: space-evenly;
}
header .header a{
    text-decoration: none;
    color: #fff;
}
header .active{
    border-bottom: 2px solid #fff;
}
/* Header Section Ends Here */


/* Substitute Section Starts Here */
.substitute{
    display: flex;
    justify-content: space-between;
    padding: 6rem 0 0 0;
    overflow: hidden;
}
.substitute .substitute-image{
    width: 30%;
    overflow: hidden;
}
.substitute .substitute-image img{
    width: 75%;
    height: 70%;
    object-fit: contain;
}
.substitute .substitute-text{
    width: 70%;
    overflow: hidden;
}
.substitute .substitute-text h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    text-transform: capitalize;
}
.substitute .substitute-text .line{
    width: 20%;
    height: 3px;
    background-color: #689223;
    margin: 1rem 0;
}
.substitute .substitute-text p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    margin-top: 2rem;
}
/* Substitute Section Ends Here */


/* Products Section Starts Here */
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    text-align: center;
}
.products .line{
    width: 20%;
    height: 3px;
    background-color: #689223;
    margin: 0.8rem 0;
}
.products p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1rem;
}
.products .product-row{
   display: flex;
   justify-content: center;
   margin-top: 3rem;
   width: 100%;
   /* background-color: red; */
}
.products .product-row .product-card{
   width: 30%;
}
/* Products Section Ends Here */